__pycache__
.vscode
temp_*.py
.pytest_cache
.coverage
coverage.xml
report.xml
logs/*
/.venv
.hypothesis
*.log
/build
/dist
/src/*.egg-info
.server_api_evn
/log
/.tox
/.mypy_cache
user_config.yml
reports/